header {
    display: flex;
    background-color: var(--color-container);
    flex-direction: column;
    align-items: safe center;

    .brand-header-name {
        font-family: "Park Lane NF";
        padding-bottom: 5px;
        display: flex;
        margin-left: 10px;
        font-size: 50px;
        text-decoration: none;
        padding-bottom: 0px;
        text-align: center;
    }

    .brand-header-slogan {
        font-size: 25px;
        margin-bottom: 0;
    }
}

footer {
    margin-top: 5px;
    height: 35px;
    background-color: var(--color-container);
    display: flex;
    align-items: center;
    gap: 10px;

    .copyright {
        flex-grow: 1;
        text-align: center;
    }
}

.page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);

    main {
        flex: 1;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
